misc/lib-j2735/src/main/xsd/DSRC-Local-02-00-36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- A quick set to stubs for making draft 35 compile, by DCK -->
<!-- Production releases of ITS schemas can be found at: http://www.ITSware.net/XML/readme.htm -->
 
 
<!--  --> 
<xs:schema targetNamespace="http://www.DSRC-Local-02-00-36" 
   xmlns="http://www.DSRC-Local-02-00-36" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   

   elementFormDefault="unqualified" 
   attributeFormDefault="unqualified" 
   version="DRAFT">
 

 
<xs:annotation>
   <xs:documentation>
      A quick DCK edit hack job to create local extent points for the XML schema
   </xs:documentation>
</xs:annotation>


<!-- added for Rev 33 -->
<xs:simpleType name="IntersectionState">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<!-- added for Rev 31 -->

<xs:simpleType name="RTCMmsg">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="RTCMPackage">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="RTCMPackage2">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="TransmissionState">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PathHistory">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PathPrediction">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VehicleSafetyExtension">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ConfidenceSet">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="MUTCDCode">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="RTCM-Corrections">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<!-- added for Rev 28 -->

<xs:simpleType name="RequestedItem">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- added for Rev 26 -->

<xs:simpleType name="PriorityState">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PreemptState">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<xs:simpleType name="SignalControlZone">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<xs:simpleType name="MapData">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<xs:simpleType name="BasicSafetyMessageVerbose">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<xs:simpleType name="TravelerInformation">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="DataParameters">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VehicleIdent">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VehicleStatus">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="HighPriorityFreightTrainAlarm">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PublicSafetyVehicleApproaching">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="StateConfidence">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>


<xs:simpleType name="TransitPreEmptionRequest">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="TravelerInfoType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VehicleStoppedInIntersection">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>





<!--


-->


<!-- below taken from the rev 21 edition -->
<!-- below taken from the rev 21 edition -->
<!-- below taken from the rev 21 edition -->

<xs:simpleType name="BasicSafetyMessageLong">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="BasicSafetyMessageOLD">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="IntersectionCollision">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="MapFragment">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="SPAT">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="MovementState">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="LayerType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VehicleMotionTrail">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PreemptionState">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="NMEA-Revision">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PreEmptionStateGeneral">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="RTCM-Revision">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="TirePressureThresholdDetection">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="TriggerEvent">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VehicleStatusDeviceTypeTag">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="WiperStatusFront">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="WiperStatusRear">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>



<!-- Below from rev 14 (last adopted std) from which this was a draft -->
<!-- Below from rev 14 (last adopted std) from which this was a draft -->
<!-- Below from rev 14 (last adopted std) from which this was a draft -->
<!-- some of this stuff is not longer used, but it doesn't hurt here -->
 
<!-- Descriptive Name: MSG_Ala-Carte-Local -->
<xs:complexType name="AlaCarte">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: MSG_BasicSafetyMessage-Local -->
<xs:complexType name="BasicSafetyMessage">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: MSG_CommonSafetyRequest-Local -->
<xs:complexType name="CommonSafetyRequest">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DE_DSRC-MessageID-Local -->
<xs:simpleType name="DSRCmsgID">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: MSG_EmergencyVehicleAlert-Local -->
<xs:complexType name="EmergencyVehicleAlert">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DF_FullPositionVector-Local -->
<xs:complexType name="FullPositionVector">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DE_HorizontalDatumcd-Local -->
<xs:simpleType name="HorizontalDatum">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Incident-Response-Equipment-Local -->
<xs:simpleType name="IncidentResponseEquipment">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: MSG_ProbeVehicleData-Local -->
<xs:complexType name="ProbeVehicleData">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DE_Responder-Group-Affected-Local -->
<xs:simpleType name="ResponderGroupAffected">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DF_Snapshot-Local -->
<xs:complexType name="Snapshot">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DF_UpdateVector-Local -->
<xs:complexType name="UpdateVector">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DE_Vehicle-Groups-Affected-Local -->
<xs:simpleType name="VehicleGroupAffected">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DF_VehicleStatusDeviceType-Local -->
<xs:complexType name="VehicleStatusDeviceType">
   <xs:sequence>
      <xs:element name="yourName"  minOccurs="0">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:length value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:element>
      <!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
   </xs:sequence>
</xs:complexType>
 
<!-- Descriptive Name: DE_VehicleType-Local -->
<xs:simpleType name="VehicleType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: EXT_VerticalDatumcd-Local -->
<xs:simpleType name="VerticalDatum">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_WiperStatus-Local -->
<xs:simpleType name="WiperStatus">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
  


<!-- Unable to find the file: C:\Documents and Settings\DavidK\My Documents\code\MiniEdit/ITSschemas/DSRC-01-00-14/DSRC-Local-01-00-14imports.xml -->
<!-- Which would be be inserted at this point if present. -->


<!--  -->
<!-- These items are added the schema file by the export routines -->
<!-- The below entries are provided to "patch" to common items  -->
<!-- which ideally will be properly defined in other namesspaces  -->
<!--  -->

<xs:complexType name="xxx"/>  <!-- add others as needed -->

<!--  -->
<!-- The final few items are global types used by other entires -->
<!--  -->

<xs:simpleType name="binary">
   <xs:restriction base="xs:string">
      <xs:pattern value="[01]*"/> 
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="OctetStringOptions">   
   <xs:union memberTypes="xs:hexBinary xs:base64Binary"/>      
</xs:simpleType> 
<xs:complexType name="OctetString">
   <xs:simpleContent>
      <xs:extension base="OctetStringOptions">
         <xs:attribute name="EncodingType" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:NMTOKEN">
                  <xs:enumeration value="hexBinary"/>
                  <xs:enumeration value="base64Binary"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:extension>
   </xs:simpleContent>
</xs:complexType>

<xs:simpleType name="NumericString">
   <xs:restriction base="xs:string">
      <xs:pattern value="\d*"/>  
   </xs:restriction>
</xs:simpleType>
<!-- END of the output -->

</xs:schema>

