misc/lib-j2735/src/main/xsd/ITIS-Local-04-00-03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the local file to be edited and used with ITIS-Adopted-04-00-03.xsd -->
<!-- Run on Mini-Edit [Version 2.1.441] -->
<!-- Production releases of ITS schemas can be found at: http://www.itsware.net/ITSschemas/ReadMe.htm -->
 
 
<!--  --> 
<xs:schema targetNamespace="http://www.ITIS-Local-04-00-03" 
   xmlns="http://www.ITIS-Local-04-00-03" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   
   elementFormDefault="unqualified" 
   attributeFormDefault="unqualified" 
   version="Adopted">

<xs:annotation>
   <xs:documentation>
      You are free to amend this file as you see fit to add additional local content.
      Such local content may be restricted by other ITS stds that you are using. 
      Created Aug 01 20009 by DC Kelley, Editor of the SAE std
   </xs:documentation>
</xs:annotation>
 

 
<!-- Descriptive Name: DE_Accidents-and-Incidents-Local -->
<xs:simpleType name="AccidentsAndIncidents">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Instructions-Mandatory-Local -->
<xs:simpleType name="AdviceInstructionsMandatory">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Instructions-Recommendations-Local -->
<xs:simpleType name="AdviceInstructionsRecommendations">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Alternate-Route-Local -->
<xs:simpleType name="AlternateRoute">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Asset-Status-Local -->
<xs:simpleType name="AssetStatus">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Closures-Road-and-Lane-Local -->
<xs:simpleType name="Closures">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Delays,-Status,-And-Cancellations-Local -->
<xs:simpleType name="DelayStatusCancellation">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Device-And-Equipment-Status-Local -->
<xs:simpleType name="DeviceStatus">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Disasters-Local -->
<xs:simpleType name="Disasters">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Disturbances-Local -->
<xs:simpleType name="Disturbances">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Generic-Locations-Local -->
<xs:simpleType name="GenericLocations">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Incident-Response-Equipment-Local -->
<xs:simpleType name="IncidentResponseEquipment">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Incident-Response-Status-Local -->
<xs:simpleType name="IncidentResponseStatus">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_ITIS-Local -->
<xs:simpleType name="ITIScodes">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Lane-Roadway-Descriptions-Local -->
<xs:simpleType name="LaneRoadway">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Mobile-Situation-Local -->
<xs:simpleType name="MobileSituation">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Objects-Local -->
<xs:simpleType name="Objects">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Obstructions-Local -->
<xs:simpleType name="Obstruction">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Parking-Information-Local -->
<xs:simpleType name="ParkingInformation">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Pavement-Conditions-Local -->
<xs:simpleType name="PavementConditions">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Precipitation-Local -->
<xs:simpleType name="Precipitation">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Qualifiers-Local -->
<xs:simpleType name="Qualifiers">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Responder-Group-Affected-Local -->
<xs:simpleType name="ResponderGroupAffected">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Restrictions-Local -->
<xs:simpleType name="RestrictionClass">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Roadside-Assets-Local -->
<xs:simpleType name="RoadsideAssets">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Roadwork-Local -->
<xs:simpleType name="Roadwork">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Special-Events-Local -->
<xs:simpleType name="SpecialEvents">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Sporting-Events-Local -->
<xs:simpleType name="SportingEvents">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Suggestion-Advice-Local -->
<xs:simpleType name="SuggestionAdvice">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Information-System-Local -->
<xs:simpleType name="SystemInformation">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Temperature-Local -->
<xs:simpleType name="Temperature">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Traffic-Conditions-Local -->
<xs:simpleType name="TrafficConditions">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Transit-Mode-Local -->
<xs:simpleType name="TransitMode">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Transit-Operations-Local -->
<xs:simpleType name="TransitOperations">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Traveler-Group-Affected-Local -->
<xs:simpleType name="TravelerGroupAffected">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Unit-Values-Local -->
<xs:simpleType name="Units">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Unusual-Driving-Local -->
<xs:simpleType name="UnusualDriving">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Vehicle-Groups-Affected-Local -->
<xs:simpleType name="VehicleGroupAffected">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Visibility-andampampamp-Air-Quality-Local -->
<xs:simpleType name="VisibilityAndAirQuality">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Warning-Advice-Local -->
<xs:simpleType name="WarningAdvice">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Weather-Conditions-Local -->
<xs:simpleType name="WeatherConditions">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Winds-Local -->
<xs:simpleType name="Winds">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Winter-Driving-Index-Local -->
<xs:simpleType name="WinterDrivingIndex">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_Winter-Driving-Restrictions-and-Recommendations-Local -->
<xs:simpleType name="WinterDrivingRestrictions">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- New content for release 4 follows -->

<!-- Descriptive Name: DE_StreetSuffixes-Local -->
<xs:simpleType name="StreetSuffixes">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType> 

<!-- Descriptive Name: DE_LargeNumbers-Local -->
<xs:simpleType name="LargeNumbers">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType> 

<!-- Descriptive Name: DE_MUTCDLocations-Local -->
<xs:simpleType name="MUTCDLocations">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType> 

<!-- Descriptive Name: DE_NamedObjects-Local -->
<xs:simpleType name="NamedObjects">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- Descriptive Name: DE_Structures-Local -->
<xs:simpleType name="Structures">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- Descriptive Name: DE_RegulatoryAndWarningSigns-Local -->
<xs:simpleType name="RegulatoryAndWarningSigns">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- Descriptive Name: DE_SmallNumbers-Local -->
<xs:simpleType name="SmallNumbers">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- Descriptive Name: DE_RecreationalObjectsAndActivities-Local -->
<xs:simpleType name="RecreationalObjectsAndActivities">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- Descriptive Name: DE_StatesAndTerritories-Local -->
<xs:simpleType name="StatesAndTerritories">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>
 
<!-- Descriptive Name: DE_ValidManeuvers-Local -->
<xs:simpleType name="ValidManeuvers">
   <xs:restriction base="xs:string">
      <xs:enumeration value="insert-local-values-here"/>
   </xs:restriction>
</xs:simpleType>

<!-- END of the schema-->

</xs:schema>

