trunk/ode-api/src/main/xsd/VDOTFeeds.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://exist.sourceforge.net/NS/exist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="collection">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="resource" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                      <xs:simpleContent>
                          <xs:extension base="xs:string">
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                              <xs:attribute type="xs:dateTime" name="created" use="optional"/>
                              <xs:attribute type="xs:dateTime" name="last-modified" use="optional"/>
                              <xs:attribute type="xs:string" name="owner" use="optional"/>
                              <xs:attribute type="xs:string" name="group" use="optional"/>
                              <xs:attribute type="xs:string" name="permissions" use="optional"/>
                          </xs:extension>
                      </xs:simpleContent>
                  </xs:complexType>
              </xs:element>
          </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:dateTime" name="created"/>
            <xs:attribute type="xs:string" name="owner"/>
            <xs:attribute type="xs:string" name="group"/>
            <xs:attribute type="xs:string" name="permissions"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>