trunk/ode-api/src/main/xsd/filter.ritis.org/reference/schemas/RITIS_Global_Internal/local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://www.ritis.org/schema/local-0-0-0" version="1"
	xmlns="http://www.ritis.org/schema/local-0-0-0"
	xmlns:itis="http://www.ritis.org/schema/itis-3-0-1"
	xmlns:lrms="http://www.ritis.org/schema/lrms-2-0-0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:atis="http://www.ritis.org/schema/atis-3-0-76"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

	<xs:import namespace="http://www.ritis.org/schema/atis-3-0-76" schemaLocation="ATIS.xsd"/>
	<xs:import namespace="http://www.ritis.org/schema/itis-3-0-1" schemaLocation="ITIS.xsd"/>
	<xs:import namespace="http://www.ritis.org/schema/lrms-2-0-0" schemaLocation="LRMS.xsd"/>

	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="edu.umd.cattlab.schema.atis.local"/>
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<!--
		RITIS\CATT Local Message Set Schema
		
		More Information Available at:
		www.ritis.org
		www.cattlab.umd.edu
		
		Questions\Comments to:
		Jason Ellison
		jjellso@umd.edu
	-->
	
	<xs:simpleType name="LocalObstruction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="drawbridge open"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LocalGenericLocations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inner loop"/>
			<xs:enumeration value="outer loop"/>
			<!-- Reverseable HOV lane -->
			<xs:enumeration value="RHOV"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="MessageHeader">
		<xs:sequence>
			<!-- Total number of events returned -->
			<xs:element name="totalEvents" type="xs:int" minOccurs="1"></xs:element>
			<!-- Number of events filtered by passed parameters-->
			<xs:element name="filteredEvents" type="xs:int" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Head">
		<xs:sequence>
			<!-- Estimated queue length in miles generate by RITIS -->
			<xs:element name="queueLength" type="xs:float"></xs:element>
			<!-- Estimated time to clear the event generated by RITIS -->
			<xs:element name="estimatedClearTime" type="xs:dateTime"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="timestamp">
		<xs:simpleContent>
			<xs:extension base="atis:DateTimePair"/>
		</xs:simpleContent>
	</xs:complexType>


	<xs:simpleType name="LocalResponderGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="EventInformation">
		<xs:annotation>
			<xs:documentation>Local Event Information. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- endTime dateTime is the time when the incident was closed and considered over -->
			<xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
			<!-- TMC Code is the TMC code of the location of the event -->
			<xs:element name="tmcCode" minOccurs="0" type="tmcType"/>
			<!-- Regional Event Boolean to indicate an event or incident of regional significance.  regionalEvent value is assume false if element does not exist -->
			<xs:element name="regionalEvent" type="xs:boolean" minOccurs="0" default="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="lane" type="LaneDescription"/>
				<xs:element name="intersection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="on" type="LaneDescription"/>
							<xs:element name="at" type="LaneDescription"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resource" type="resource"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IncidentInformation">
		<xs:annotation>
			<xs:documentation>Local Incident Information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
			<xs:element name="tmcCode" minOccurs="0" type="tmcType"/>
			<!-- Regional Event Boolean to indicate an event or incident of regional significance.  regionalEvent value is assume false if element does not exist -->
			<xs:element name="regionalEvent" type="xs:boolean" minOccurs="0" default="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="lane" type="LaneDescription"/>
				<xs:element name="intersection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="on" type="LaneDescription"/>
							<xs:element name="at" type="LaneDescription"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resource" type="resource"/>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="resource">
		<xs:attributeGroup ref="Resource"/>
	</xs:complexType>

	<xs:attributeGroup name="Resource">
		<xs:annotation>
			<xs:documentation>List of optional attributes for Incident/Event
			Resources</xs:documentation>
		</xs:annotation>
		<xs:attribute name="notified" type="xs:dateTime"/>
		<xs:attribute name="arrived" type="xs:dateTime"/>
		<xs:attribute name="departed" type="xs:dateTime"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="agency" type="LocalAgency"/>
		<xs:attribute name="type" type="itis:ResponderGroupAffected" use="required"/>
		<xs:attribute name="equipment" type="itis:IncidentResponseEquipment"/>
	</xs:attributeGroup>

	<xs:simpleType name="LocalAgency">
		<xs:annotation>
			<xs:documentation> Abbreviated names of local agencies. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHART"/>
			<xs:enumeration value="VDOT"/>
			<xs:enumeration value="DDOT"/>
			<xs:enumeration value="WMATA"/>
			<xs:enumeration value="MSP"/>
			<xs:enumeration value="VSP"/>
			<xs:enumeration value="MPDC"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="LaneDescription">
		<xs:annotation>
			<xs:documentation> Describes roadway geometry, status, and direction in a compact format
				capable of being easily parsed by programmers. Description, type and status must all
				be the same length. Direction is Left to Right across the entire roadway. Two
				LaneDescriptions can be used to describe a simple intersection. It is recommended
				that users utilize the standard lane description in Incident and Event messages and
				not this local extension.</xs:documentation>
			<xs:appinfo> Type is made up of numerical LaneTypeCodes. Status is made up of numerical
				LaneStatusCodes. And direction is made up of hexidecimal LaneDirectionCodes. All
				three strings must be the same length. </xs:appinfo>
		</xs:annotation>

		<xs:attribute name="type" type="TypeString" use="required"/>
		<xs:attribute name="status" type="StatusString" use="required"/>
		<xs:attribute name="direction" type="DirectionString" use="required"/>
	</xs:complexType>

	<xs:simpleType name="TypeString">
		<xs:annotation>
			<xs:documentation>String made up of LaneTypeCodes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9A-E]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusString">
		<xs:annotation>
			<xs:documentation>String made up of LaneStatusCodes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-5]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DirectionString">
		<xs:annotation>
			<xs:documentation>String made up of LaneDirectionCodes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9A]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- How to link these to the Alpha Strings.... -->

	<xs:simpleType name="LaneStatusCodes">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="5"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="open"/>
					<xs:enumeration value="blocked"/>
					<xs:enumeration value="closed"/>
					<xs:enumeration value="unknown"/>
					<xs:enumeration value="entrance closed"/>
					<xs:enumeration value="exit closed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:simpleType name="LaneDirectionCodes">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:hexBinary">
					<xs:length value="1"/>
					<xs:pattern value="[0-9A]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="north"/>
					<xs:enumeration value="south"/>
					<xs:enumeration value="east"/>
					<xs:enumeration value="west"/>
					<xs:enumeration value="northeast"/>
					<xs:enumeration value="northwest"/>
					<xs:enumeration value="southeast"/>
					<xs:enumeration value="southwest"/>
					<xs:enumeration value="inner loop"/>
					<xs:enumeration value="outer loop"/>
					<xs:enumeration value="unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:simpleType name="LaneTypeCodes">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:hexBinary">
					<xs:length value="1"/>
					<xs:pattern value="[0-9E]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="lane"/>
					<xs:enumeration value="median"/>
					<xs:enumeration value="shoulder"/>
					<xs:enumeration value="hov"/>
					<xs:enumeration value="rhov"/>
					<xs:enumeration value="hot"/>
					<xs:enumeration value="exit ramp"/>
					<xs:enumeration value="entrance ramp"/>
					<xs:enumeration value="local"/>
					<xs:enumeration value="unknown"/>
					<xs:enumeration value="collector/distributor"/>
					<xs:enumeration value="entrance/exit"/>
					<xs:enumeration value="reversible"/>
					<xs:enumeration value="express"/>
					<xs:enumeration value="escape ramp"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="reference-speed">
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	
	<xs:simpleType name="tmcType">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
